
<head>
    <script type = module src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js" id = 'mapquest'>
    </script>
</head>
<body>
    <div class="card-image_wrapper" >
        <h1 *ngIf="spatial">{{spatial.address}}</h1>
        <img  *ngIf="spatial" id = "imagepng" src={{imageData}} alt={{spatial.address}} class="card-img-top" >
    </div>
    <div class="infostring">
        <table>
            <tr>Total Area (in M^2) = {{spatial.area}}</tr>
            <tr>Origin Latitude =  {{spatial.center_Lat}}</tr>
            <tr>Origin Longitude = {{spatial.center_Long}}</tr>

        </table>
    </div>
</body>
