
form{
    text-align: justify;
    background-color: gray;
    border-radius: 4px black;
    width:fit-content;
    display:inline-block;
}
body{
    text-align: center;
    align-self: center;
}
input{
    display: inline-block;
    align-self: center;
    border-radius: 4px solid black;
    border-collapse: collapse;
}
button{
    display:inline-block;
    padding: 4px;
    text-align:center;
    margin-left: 15px;
}
.bar_container{
    width:50%;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
