<h1>{{title}}
</h1>
<head>
<script type = module src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js" id = 'mapquest'>
</script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
<script src="app.component.ts"></script>
</head>
<body>
<div>
    <form [formGroup]= "addressFormGroup" (ngSubmit)="onSubmit()">
    <input id ="addressI" type = 'text' formControlName="address" placeholder="Address">
    <input id='zipI' type= 'number' formControlName='zip' placeholder="Zip">
    <div>
    <input id='cityI' type= 'text' formControlName='city' placeholder = "City">   
    <input id='stateI' type= 'text' formControlName='state' placeholder = "State">
    </div>
   <div> 
    <button type = "submit">
    Submit the address
    </button>
    <button (click) = "addressDataPost()">
    Test addressDatapost
    </button>
    </div>
    </form>
    <button (click)="mapUpdate()"> 
    Generate map with new address  
    </button>
    <div id='map' style='width:2000px; height:1000px;'></div>
