
<head>
<script type = module src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js" id = 'mapquest'>
</script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
<script src="app.component.ts"></script>
</head>
<body>
    <span></span>
    <h1>{{title}}
    </h1>
    <span></span>
<div>
    <form [formGroup]= "addressFormGroup" (ngSubmit)="onSubmit()">
    <input id ="addressI" type = 'text' formControlName="address" placeholder="Address">
    <input id='zipI' type= 'number' formControlName='zip' placeholder="Zip">
    <div>
    <input id='cityI' type= 'text' formControlName='city' placeholder = "City">   
    <input id='stateI' type= 'text' formControlName='state' placeholder = "State">
    </div>
    <span></span>
   <div class ='subButton'> 
    <button type = "submit">
    Submit Address
    </button>
    </div>
    </form>

