
<h1>{{title}}
</h1>
<head>
<script src="app.component.ts"></script>
</head>
<body>
<div>
    <form [formGroup]= "addressFormGroup" (ngSubmit)="onSubmit()">
        Address<input id ="addressI" type = 'text' formControlName="address">
    <div>
        Zip<input id='zipI' type= 'number' formControlName='zip'>
    </div>
    <div>
        City<input id='cityI' type= 'text' formControlName='city'>
    </div>
    <div>
        State<input id='stateI' type= 'text' formControlName='state'>
    </div>
    <button type = "submit">
        Submit the address
    </button>
    </form>
    <div>
    <button (click)="mapUpdate()"> 
     Generate map with new address  
    </button>
    </div>
</div>
<div id='map' style='width:2000px; height:1000px;'></div>
</body>