
<style type="text/css">
  h1{
    font-size:15px;
    margin-bottom:auto;
    min-width:100%;
    min-block-size:40px;
  }
  .card-imagewrapper{
    min-width: 100%;
    min-height: 100%;
  }
  .overallDIV{
    min-width: 100%;
    min-height: 100%;
  }
</style>

<div id="overallDIV" class="card mb-4">
    <h1>{{infostring}}</h1>

    <div class="card-imagewrapper">
        <img id = "imagepng" src={{sourceString}} alt=" Placeholder" class="card-img-top"/> 
    </div>
    <div class="card-body p-1">
      <a routerLink="/addressPage/{{(imageData.id)}}"> Further Details... </a>
    </div>
</div>
